/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 5, 2014, 8:43:08 AM
    Author     : arsan
*/
.contactus-content{
    background-image: url('../images/contactus/bg-contactus.png');
    width: 940px;
    height: 470px;  
    padding-top: 13px;
    .contactus-content-left{
        float:left;
        margin-left:13px;
        width:489px;
        overflow:hidden;
        height: 470px; 
        .google-map{
            position: absolute;
            margin-top: -70px;
            margin-left: 10px;
        }
    }
    .contactus-content-right{
        float:left;
        margin-left: 3px;
        height: 470px;  
        width:420px;
        address{
            height:72px;
            margin-top:79px;
            color:#ffd400;
            text-align: center;
            font-size: 0.8em;
            font-weight: normal;
            font-style: normal;
            padding: 20px 0;
        }
        h2{
            font-weight: normal;
            color:#ffd400;
            font-family: 'ocean_sans_stdbook';
            font-size: 1.2em;
            margin:0.6em 1.2em;
        }
        form{
            color:#ffd400;
            margin:10px 25px;
            .formgroup{
                margin-bottom:3px;
                label{
                    font-size: 0.8em;
                    font-family: 'ocean_sans_stdbook';
                    width:80px;
                    display:inline-block;
                    vertical-align:top; 
                }
                input,textarea{
                    width: 275px;
                    &.btn-submit{
                        background-image: url('../images/contactus/btn-send.png');
                        background-color: transparent;
                        border:none;
                        text-indent: 70px;
                        overflow: hidden;
                        height:30px;
                        width: 70px;
                        float: right;
                        margin-right: 3px;
                    }
                }
                textarea{
                    height: 60px;
                }
            }
        }
    }
} 