/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 5, 2014, 8:42:51 AM
    Author     : arsan
*/
.culture-content{
    background-image: url('../images/recommend/bg-recommend.png');
    width: 940px;
    height: 490px;  
    .culture-content-inner{
        width:916px;
        height:466px;
        margin:auto;
        padding-top:13px;
        ul.bxslider{
            margin:0;
            padding:0;
            list-style: none;
            li{
                height: 463px;
                width:25%;
                overflow: hidden;
                float:left;
                /*margin-top:13px;*/
                /*border-right:1px solid #f7d754;*/
                .caption{
                    position: relative;
                    height: 150px;
                    margin-top:-150px;
                    background: rgb(0, 0, 0); /* The Fallback */
                    background: rgba(0, 0, 0, 0.4); 
                    .title{
                        background-image:url('../images/recommend/bg-title.png');
                        background-size: 100%;
                        height:28px;
                        label{
                            margin-left: 15px;
                            line-height: 28px;
                        }
                        a.readmore{
                            float: right;
                            margin-top: 6px;
                            margin-right: 5px;
                        }
                    }
                    .detail{
                        padding: 5px;
                        font-size: 11px;
                        color:#fff;
                    }
                }
            }
        }
    }
}