/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 5, 2014, 8:39:49 AM
    Author     : arsan
*/
.home-content{
    position: absolute;
    background-image: url('../images/home/bg-home.jpg');
    width: 940px;
    height: 490px;
    .about-content{
        width:915px;
        height:111px;
        margin:auto;
        margin-top: 365px;
        background-image: url('../images/home/bg-detail.png ');
        > div{
            float: left;
            &.logo{
                img{
                    margin:30px 20px;
                }
            }
            &.about{
                margin-top: 10px;
                font-size: 14px;
                color:#fed436;
                width:440px;
            }
            &.icon{
                margin-top: 10px;
            }
        }
    }
}