.clearfix:after { 
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden; 
}
.clearfix { 
    display: inline-block;  
}
* html .clearfix {  
    height: 1%;  
} /* Hides from IE-mac \*/
.clearfix {  
    display: block;  
}
a{text-decoration: none;}
body{
    background-color: #754716;
    background-image: url('../images/bg-pattern-2.png');
}
.wrapper{
    width: 980px;
    height:auto;
    margin:auto;
    position:relative;
    margin-top:150px;
}
header{
    position: absolute;
    top:-80px;
    z-index: 1;
    margin:0 20px;
    font-family: 'ocean_sans_stdbook';
    color:#fed436;
    width:940px;
    .logo{
        float:left;
        margin-left:35px;
    }
    nav{
        margin-top: 35px;
        margin-left:150px;
        float:left;
        ul{
            margin:0;
            padding:0;
            list-style: none;
            li{
                margin: 10px;
                float:left;
                &.active{
                    background-image: url('../images/menu-active.png');
                    background-repeat: no-repeat;
                    background-position: top center;
                }
                a{
                    display: block;
                    padding-top:15px;
                    color:#fed436;
                }
            }
        }
    }
    .lang{
        margin-top: 60px;
        float:right;
        label{
            font-size:12px;
        }
        a{
            font-size: 14px;
            color:#fed436;
            border: 1px solid #ffd400;
            padding:3px;
            &:hover,&.active{
                background-color: #ffd400;
                color:#000;
            }
        }
    } 
}
.main-content{
    position: relative;
    /*margin-top:80px;*/
    width: 940px;
    height: 490px;
    padding:5px 20px;
    background: url('../images/bg-content.png') center;
}
footer{
    font-family: 'ocean_sans_stdbook';
    font-size: 12px;
    color:#fed436;
    margin:0 20px;
    .tel,.copyright{
        width: 50%;
        float: left;
        a{
            color:#fed436;
        }
    }
    .copyright{
        text-align: right;
    }
}