/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 5, 2014, 8:40:19 AM
    Author     : arsan
*/
.menu-content{
    background-image: url('../images/menu/bg-menu.png');
    width: 940px;
    height: 470px;  
    padding-top: 20px;
    .menu-content-inner{
        width:577px;
        height:446px;
        margin:auto;
        margin-left: 349px;
        position:relative;
        overflow:hidden;
        .content{
            > ul{
                margin:0;
                padding:0;
                list-style:none;
                > li{
                    > h3{
                        background-image: url('../images/menu/title-group-menu.png');
                        background-repeat: no-repeat;
                        line-height: 22px;
                        font-size:1em;
                        padding-left: 30px;
                    }
                    > ul{
                        margin:0;
                        padding:0;
                        list-style:none;    
                        >li{
                            color:#fff;
                            font-size:0.75em;
                            padding-left: 30px;
                            label.price{
                                text-align: right;
                                width: 80px;
                                float: right;
                                padding-right: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}