/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 5, 2014, 8:42:59 AM
    Author     : arsan
*/
.news-content{
    background-image: url('../images/news/bg-news.png');
    width: 940px;
    height: 470px;  
    padding-top: 13px;
    .news-content-left{
        float: left;
        width:505px;
        height:463px;
        margin-left: 12px;
        .news-content-left-image{
            width:505px;
            height:463px;
        }
        .news-content-left-detail{
            position: relative;
            width: 100%;
            height:150px;
            margin-top:-150px;
            .news-content-left-detail-title{
                font-size: 1em;
                line-height: 28px;
                background-image: url('../images/news/news-title.png');
                padding: 0 20px;
            }
            p{
                color:#fff;
                font-size:0.75em;
                padding: 0 20px;
            }
        }
    }
    .news-content-right{
        float: left;
        margin-left: 2px;
        width:406px;
        height:463px;
        position:relative;
        overflow:hidden;
        .content{
            > ul{
                margin:0;
                padding:0;
                list-style:none;
                > li{
                    background-repeat: no-repeat;
                    background-position: bottom center;
                    background-image: url('../images/news/underline.png');
                    padding:10px;
                    cursor:pointer;
                    img{
                        float:left;
                    }
                    > div{
                        margin-left:10px;
                        float:left;
                        width:218px;
                         h3{
                            font-weight: normal;
                            font-size:0.9em;
                            margin: 0;
                            a{color:#ffd400;}
                        }
                         p{
                            margin:0;
                            margin-top:5px;
                            font-size:0.75em;
                            a{color:#fff;}
                        }
                    }
                }
            }
        }
    }
}