.popup_container{
    position: relative;
    display:block;
    height:445px;
    width:665px;
    padding:10px;
    background:#fff;
    margin:auto;
    .bg{
        display:block;
        height:445px;
        width:665px;
    }
    .content{
        display:block;
        position:relative;
        margin-top:-120px;
        height:120px;
        h2{
            padding: 4px 20px;
            line-height: 22px;
            height:22px;
            width:auto;
            font-size:16px;
            font-weight: normal;
            color:#ffe04e;
            background: #000;
            width: 150px;
            margin:0;
        }
        p{
            padding: 10px 20px;
            line-height: 14px;
            height:70px;
            background: rgb(0, 0, 0); /* The Fallback */
            background: rgba(0, 0, 0, 0.6); 
            color:#fff;
            font-size: 12px;
            margin:0;
        }
    }
}